h1 {
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(20, 20, 20);
}

h2 {
  padding: 10px 0 5px;
  border-top: 1px solid rgb(50, 55, 63);
}

p {
  padding: 0 10px 15px;
  border-bottom: 1px solid rgb(20, 20, 20);
}

.small-nav {
  border-top: 1px solid rgb(50, 55, 63);
  border-bottom: 0;
}
